body  {
  background-color: rgb(184, 222, 209);
}

nav.navbar  {
  background-color: rgb(5, 15, 70);
}

.social-icons {
  display:inline;
}

.social-icons img {
  height: 30px;
}

.sidebar  {
  display: block;
  background-color: white;
  height: 500px;
  /*margin: 0px 5px 0px 0px;*/
}

.blog-posts {
  display: block;
  background-color: white;
  height: 500px;
  /*margin: 0px 0px 10px 5px;*/
}

.footer {
  background-color: rgb(5, 15, 70);
  list-style: none;
  margin-top: 20px;
  color: rgb(184, 222, 209);

}
