body {
  background-color: black;
  color: rgb(220, 220, 220);
  font-size: 20px;
  font-weight: 300;
}

.header {
  background-image: url(images/fireworks.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  border-bottom: 3px solid white;
  color: white;
}

.title {
  color: rgb(227, 134, 25);
  font-family: 'Codystar', sans-serif;
  font-size: 64px;
}

.header h2, .header h4 {
  font-weight: 300;
}

#github-link img {
  height: 63px;
}

#github-link img:hover {
  height: 65px;
}

.title-block {
  background-color: rgba(0, 0, 0, 0.8);
}





.box {
  height: 180px;
	padding: 45px 5px 50px 5px;
  margin: 20px 5px 10px 5px;
}

.colored-box h3 {
  color: black;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}

.colored-box:hover {
  border: 2px solid white;
}

.boxes a {
  display: block;
}

.boxes a:hover {
  text-decoration: none;
  cursor: pointer;
}

#text-box {
  border: 1px solid rgb(227, 134, 25);
  padding: 46px 20px 36px 20px;
}

#box1 {
  background-color: rgb(241, 230, 81);

}

#box2 {
  background-color: rgb(227, 134, 25);
}

#box3 {
  background-color: rgb(245, 67, 11);
}
