.container-flex .row {
	margin-right: 0px;
}
.title {
	background-color: black;
}

.title h1 {
	color: rgb(227, 134, 25);
  font-family: 'Codystar', sans-serif;
  font-size: 45px;
}

.title h1:hover {
  cursor: pointer;
  color: rgb(241, 230, 81);
}

.title a:hover {
		text-decoration: none;
}

.jumbotron {
	background-image: url('http://www.free-vectors.com/images/Backgrounds/009-free-vector-green-pattern-background-design.png');

}

.jumbotron .container {
	background-color: rgba(255, 255, 255, 0.8);
}

.question .hidden {
	display: normal;
}

.answer-field {
	display: inline;
}

.answer-field form {
	width: 400px;
	margin-right: 10px;
}

.answer-field button {
	height: 35px;
}

.correct-answer {
	margin-top: 10px;

}

#question11 .clue p {
	color: white;
}
